@model Producto

<h2>Editar Producto</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ProductoId)

    <label>Nombre</label>
    @Html.EditorFor(model => model.Nombre)
    <label>Código</label>
    @Html.EditorFor(model => model.Codigo)
    <label>Fecha Vencimiento</label>
    @Html.EditorFor(model => model.FechaVencimiento, new { htmlAttributes = new { @type = "date" } })
    <label>Ubicación</label>
    @Html.EditorFor(model => model.Ubicacion)
    <label>Costo</label>
    @Html.EditorFor(model => model.Costo)
    <label>Precio Venta</label>
    @Html.EditorFor(model => model.PrecioVenta)
    <label>Stock</label>
    @Html.EditorFor(model => model.Stock)
    <label>Proveedor</label>
    @Html.EditorFor(model => model.Proveedor)
    <label>Categoría</label>
    @Html.EditorFor(model => model.Categoria)

    <input type="submit" value="Guardar Cambios" />
}
