@model Venta

<h2>Registrar Venta</h2>
@using (Html.BeginForm())
{
    <div>
        <label>Fecha Venta</label>
        @Html.EditorFor(model => model.FechaVenta, new { htmlAttributes = new { @type = "date" } })
    </div>
    <div>
        <label>Producto</label>
        @Html.DropDownListFor(model => model.ProductoId, new SelectList(ViewBag.Productos, "Value", "Text"))
    </div>
    <div>
        <label>Cantidad</label>
        @Html.EditorFor(model => model.Cantidad)
    </div>
    <div>
        <label>Precio Total</label>
        @Html.EditorFor(model => model.PrecioTotal)
    </div>
    <div>
        <label>Vendedor</label>
        @Html.DropDownListFor(model => model.VendedorId, new SelectList(ViewBag.Vendedores, "Value", "Text"))
    </div>
    <div>
        <input type="submit" value="Registrar" />
    </div>
}
